#container {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;

}


.squares {



    background-color: blue;
    width: 35px;
    height: 35px;
    flex: auto;






}